html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  line-height: 1.5;
  font-family: Lato, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #eee9de;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

h2 {
  margin-bottom: 1.5rem;
  margin-top: 0;
}

div {
  max-width: 25em;
  display: inline-block;
  text-align: left;
  padding: 1em;
  vertical-align: middle;
}

.btn {
  display: inline-block;
  border: 3px solid #333;
  padding: .4em .75em .5em;
  border-radius: 10px;
  text-align: left;
  text-decoration: none;
  color: #666;
}

.btn:hover {
  background-color: #666;
  color: #fff;
}

section {
  padding: 2em 0;
  text-align: center;
}

p {
  margin-bottom: 1.5rem;
  margin-top: 0;
}
